<div class="fixed z-50 flex flex-col w-full bg-header ">
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-row items-center justify-start gap-5">
      <div class="flex flex-row justify-start items-center cursor-pointer px-3 gap-2" (click)="goTo('/main')">
        <img [src]="'assets/logos/logo.'+extension" class="w-16 h-16 rounded" alt="">
        <p class="text-xl text-text font-bold text-nowrap">{{titulo}}</p>
      </div>
      <app-SubHeader></app-SubHeader>
      <app-HeaederElemento [Rol]="'user'" [Ruta]="'Pedidos'" ></app-HeaederElemento>
    </div>
    <div class="flex justify-center items-center flex-row gap-3">
      <app-UserProfileDropdown></app-UserProfileDropdown>
    </div>
  </div>
</div>
